<section  class="user-login">
    <div  class="container-fluid">
        <div  class="row">
            <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div  class="loginform-container"><img 
                        class="ntspl-logo" src="https://demo2.ntspl.co.in/assets/images/ntspl_logo.png">
                    <form (ngSubmit)="onSubmit()" novalidate>
                        <div  class="text mb-4">
                            <h4 >Welcome to Meeting Plus</h4>
                            <p>Set Password</p>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Enter Your 6 Digit OTP <span>*</span></label>
                            <div class="pincode">
                                <div class="digit"><input type="text" [(ngModel)]="otp1" name="otp1" maxlength="1" (input)="moveFocus($event, 'otp2')"></div>
                                <div class="digit"><input type="text" [(ngModel)]="otp2" name="otp2" maxlength="1" (input)="moveFocus($event, 'otp3')"></div>
                                <div class="digit"><input type="text" [(ngModel)]="otp3" name="otp3" maxlength="1" (input)="moveFocus($event, 'otp4')"></div>
                                <div class="digit"><input type="text" [(ngModel)]="otp4" name="otp4" maxlength="1" (input)="moveFocus($event, 'otp5')"></div>
                               
                            </div>
                        </div>
                        
                        <div  class="form-group">
                            <div  class="email-group"><label 
                                    class="mb-1">Password <span >*</span></label>
                                <div  class="inner-group">
                                    <span class="glyphicon" [ngClass]="{'glyphicon-eye-open':!showPassword,'glyphicon-eye-close':showPassword}" (click)="togglePasswordVisibilty"></span>
                                    <input type="password" [(ngModel)]="password" name="password" placeholder="Enter Password" required>
                                </div>
                            </div>
                        </div>
                        <div  class="form-group">
                            <div  class="pwd-group"><label 
                                    class="mb-1">Confirm Password <span >*</span></label>
                                <div  class="inner-group"><svg 
                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        viewBox="0 0 16 16" class="bi bi-eye-slash">
                                        <path 
                                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z">
                                        </path>
                                        <path 
                                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829">
                                        </path>
                                        <path 
                                            d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z">
                                        </path>
                                    </svg>
                                    <input type="password" [(ngModel)]="nwpassword" name="nwpassword" placeholder="Enter Confirm Password" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn1">Update Password</button>
                        <div class="back-resend back-arrow">
                            <a routerLink="/">
                                <div class="back">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0b77e8" viewBox="0 0 16 16" class="bi bi-arrow-left">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
                                    </svg>
                                    <span>Back to Sign In</span>
                                </div>
                            </a>
                            <div class="resend">
                                <a>Resend OTP</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div  class="blue-box-cont">
                    <div  class="blue-box">
                        <div  class="slider-cont">
                            <h2 >Meeting Plus</h2>
                            <h6 >Where Meeting Become Meaningful</h6>
                            <div  class="white-box"><img  alt=""
                                    src="https://demo2.ntspl.co.in/assets/images/meeting.png"></div>
                        </div>
                    </div>
                    <p  class="copyright">© 2024 NTSPL All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
