



<section class="user-login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="loginform-container">
          <img class="ntspl-logo" src="https://demo2.ntspl.co.in/assets/images/ntspl_logo.png" alt="NTSPL Logo">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="text">
              <h4>Welcome to Meeting Plus</h4>
              <p>Enter email &amp; password to log in to your account</p>
            </div>
            <div class="form-group">
              <div class="email-group">
                <label class="mb-1">Email <span>*</span></label>
                <input type="email" formControlName="email" placeholder="Type Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <div class="pwd-group">
                <label class="mb-1">Password <span>*</span></label>
                <input type="password" formControlName="password" placeholder="Type Your Password" required>
              </div>
            </div>
            <div class="remember-forgot-pwd">
              <div class="remember">
                <input type="checkbox">Remember
              </div>
              <div class="forgot-pwd">
                <a routerLink="/forgot-password">Forgot Password?</a>
              </div>
            </div>
            <button type="submit" class="login-btn">Sign In</button>
            <div class="account">Don't have an account?</div>
            <a routerLink="/set-password">
              <button type="button" class="signup-btn">Sign Up</button>
            </a>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="blue-box-container">
          <div class="blue-box">
            <div class="slider-cont">
              <h2>Meeting Plus</h2>
              <h6>Where Meeting Becomes Meaningful</h6>
              <div class="white-box">
                <img alt="" src="https://demo2.ntspl.co.in/assets/images/meeting.png">
              </div>
            </div>
          </div>
          <p class="copyright">© 2024 NTSPL All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</section>