/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-box-cont[_ngcontent-ng-c1894062740] {
    padding: 15px 0;
    position: relative;
    height:100vh;
}
*{
    font-family:Roboto !important;
}